*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #FFFFE0;
}

.content {
    margin: 20px auto;
    width: 355px;
    height: 200px;
    border-radius: 10px;
    background-color: #85000E;
    border: 1px solid #FF3349;
}

.form {
    display: grid;
    margin-bottom: 15px;
}

.form__name-input,
.content__result-field,
.content__error {
    margin-bottom: 15px;
    height: 30px;

    font-size: 20px;
    line-height: 24px;
    font-weight: bold;

    background-color: #FFFFFF;
    border: 1px solid #FF3349;
    border-radius: 5px;
    color: #404040;
}

.form__name-input {
    margin: 15px 0;
    padding-left: 15px;
}

.form__name-input:focus {
    border: 2px solid #FF3349;
    outline: none;
}

.form__submit-button {
    margin: 0 auto;
    width: 150px;
    height: 30px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;

    background-color: #FAB000;
    border: none;
    border-radius: 5px;
}

.content__result-field {
    color: #525252;
    text-align: center;
}

.content__error {
    text-align: center;
    background-color: yellow;
}